htm-spinner svg {
  animation: calc(var(--htm-duration, 250ms) * 5) linear htm-spin infinite;
}

htm-spinner p {
  display: none;
}

@keyframes htm-spin {
  0% {
    stroke-dashoffset: 502;
    stroke-dasharray: 150.6 100.4;
  }

  50% {
    stroke-dasharray: 1 250;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 150.6 100.4;
  }
}

@media (prefers-reduced-motion: reduce) {
  htm-spinner svg {
    display: none;
  }

  htm-spinner p {
    display: block;
  }
}
