htm-toast {
  background-color: var(--htm-bg, white);
  border-color: var(--htm-border, black);
  border-radius: var(--htm-radius, 0.5rem);
  border-style: solid;
  border-width: 1px;
  color: var(--htm-fg, black);
  max-width: min(calc(100vw - calc(var(--htm-spacing, 1.25rem) * 2)), 20rem);
  padding: calc(var(--htm-spacing, 1.25rem) * 0.6) var(--htm-spacing, 1.25rem);
  position: fixed;
  transition-duration: var(--htm-duration, 250ms);
  transition-property: bottom, left, right, top;
  transition-timing-function: cubic-bezier(0.75, -0.75, 0.25, 1.5);
  width: max-content;
  z-index: 10000;
}

htm-toast.danger {
  background-color: var(--htm-bg-danger, #991b1b);
  border: none;
  color: white;
}

htm-toast.info {
  background-color: var(--htm-bg-info, #1e40af);
  border: none;
  color: white;
}

htm-toast.success {
  background-color: var(--htm-bg-success, #166534);
  border: none;
  color: white;
}

htm-toast.bottom {
  bottom: -10rem;
}

htm-toast.bottom.enter {
  bottom: 1.25rem;
}

htm-toast.center {
  left: 50%;
  transform: translateX(-50%);
}

htm-toast.center.bottom.exit {
  bottom: -10rem;
}

htm-toast.center.top.exit {
  top: -10rem;
}

htm-toast.left {
  left: 1.25rem;
}

htm-toast.left.exit {
  left: -20rem;
}

htm-toast.right {
  right: 1.25rem;
}

htm-toast.right.exit {
  right: -20rem;
}

htm-toast.top {
  top: -10rem;
}

htm-toast.top.enter {
  top: 1.25rem;
}

@media (prefers-reduced-motion: reduce) {
  htm-toast {
    transition-duration: 0ms;
  }
}
